body{
    background: url(../img/bg_blue.jpg);
}

.heard{
    font-size: 40px;
    font-weight: bold;
    text-align: center;
    line-height: 100px;
}
h2{
    text-align: center;
    color: orange;
}
.div_gradeTB {
    text-align: center;
}


.button {
    padding: 20px;
    width: 35%;
    margin-top: 40px;
    background-color:#97CBFF; /* Green */
    border: none;
    color: white;
    padding: 6px 10px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
}


a:link { text-decoration:none;}
a:active{color: #cccccc; }
a:visited {text-decoration:none;}
a:hover {color: #cccccc;}