<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
	<head>
		<meta charset="UTF-8">
		<title></title>
   
   <link rel="stylesheet" type="text/css" href="../static/css/teatherindex.css" />
	</head>
	<body>
  <div class="main">
    <div class="login">  
      <div class="heard">web打字练习系统</div>
      <div class="form">
      <a href="/TeacherIndexController/userChangePwd">
          <div class="button">改账号密码</div>
      </a>
      <a href="/TeacherIndexController/UpTopic">
          <div class="button">上传题目</div>
      </a>

      <a href="/TeacherIndexController/teapublish"><div class="button">发布题目</div></a>


      <a href="/TeacherIndexController/StuGradeDownloadsController">
          <div class="button">导出成绩</div>
      </a>

      </div>
     
      </div>
    </div>
  </div>
</body>
</html>
