<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <!-- <script language="JavaScript" src="/static/js/UpTopic.js"></script>
     <script  type="text/javascript" src="/static/js/jquery-1.6.1.min.js"></script>-->
    <link href="../static/css/uptopic.css" rel="stylesheet" type="text/css"/>
    <title>Title</title>


</head>
<body>
<div class="main">

    <div class="div_login">
        <h2>上传文件</h2>
        <table border="1">
            <div class="div_gradeTB">
                <span th:text="${tip}" class="_span" style="color:#F00"></span>
                <form  action="/UpTopicController"  method="post" enctype="multipart/form-data">

                    <input type="file" name="file" id="pic" accept="" class="up" />
                    </br><button type="submit" class="btn_login">确认</button></br>
                </FORM>
                <a href="teacherindex">
                    <button type="button" class="btn_login">返回</button>
                </a>



</body>
</html>

</body>
</html>


